.grid {
	padding: 1px;
}

.grid_item {
	float: left;
	width: 64px;
	height: 64px;
	margin: 2px;	
	border: 2px solid transparent;
}

.grid_item_blank {
	float: left;
	width: 64px;
	height: 64px;
	margin: 2px;	
	border: 2px solid transparent;
}

.grid_item:hover {
	border: 2px solid lightgray;
}

.grid_item img {
	width: 64px;
	height: 64px;
}

.grid_clear {
	clear: both;
}